In [1]:
!pip install scikit-surprise

Requirement already satisfied: scikit-surprise in c:\users\dell\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\dell\anaconda3\lib\site-packages (from scikit-surprise) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\dell\anaconda3\lib\site-packages (from scikit-surprise) (1.12.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('jokes-data.csv')

In [4]:
df.head()

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375

In [5]:
df.shape

(1092059, 4)

In [6]:
df.id.nunique()

1092059

In [7]:
df.drop('id',axis = 1, inplace = True)

In [8]:
df.user_id.nunique()

40863

In [9]:
df.head()

   user_id  joke_id  Rating
0    31030      110   2.750
1    16144      109   5.094
2    23098        6  -6.438
3    14273       86   4.406
4    18419      134   9.375

In [10]:
df.isna().sum()

user_id    0
joke_id    0
Rating     0
dtype: int64

In [11]:
df.columns

Index(['user_id', 'joke_id', 'Rating'], dtype='object')

In [21]:
sampled_df = df.sample(frac=0.05, random_state=42)

In [22]:
sampled_df.shape

(54603, 3)

In [23]:
from surprise import Reader,Dataset,KNNWithMeans

In [24]:
reader = Reader(rating_scale=(-10,10))

In [25]:
data = Dataset.load_from_df(sampled_df[['user_id','joke_id','Rating']],reader)

In [26]:
similarity_option = {
    'name':'cosine'
}

In [27]:
model = KNNWithMeans(similarity_option)

In [28]:
trainingset = data.build_full_trainset()

In [29]:
model.fit(trainingset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [30]:
prediction = model.predict(9517,132)

In [31]:
prediction.est

1.7785875501346078